:3000 
encode zstd gzip
root * /workspace/mnt/data--capsule-myqihn-x
header Access-Control-Allow-Methods "POST, GET, OPTIONS"
header Access-Control-Allow-Headers "*"
header Access-Control-Allow-Origin "*"
file_server browse
